@use 'importer' as imp;

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1px;


  // border: 1px solid imp.$main_color_3;

  border: {
    width: 2px;
    style: solid;
    color: imp.$main_color_1;
    radius: 5px;
  }

  // background-color: imp.$main_color_5;

  .card__wrapper {
    width: 100%;
    height: 100%;

    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-wrap: wrap;

    @include imp.d-flex(center, center, wrap);
  }
}




