@mixin d-flex($display, $justify, $align, $direction) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
};

@mixin bg-img($size, $position, $repeat) {
  background-size: $size;
  background-position: $position;
  background-repeat: $repeat;
}

// ADAPTIVE MIXINS

@mixin laptop-1500 {

  @media screen and (max-width: 1500px) {
    @content
  }

};

@mixin laptop-1200 {

  @media screen and (max-width: 1200px) {
    @content
  }

};

@mixin tablet-800 {

  @media screen and (max-width: 800px) {
    @content
  }

};

@mixin tablet-900 {

  @media screen and (max-width: 900px) {
    @content
  }

};

@mixin tablet-600 {

  @media screen and (max-width: 600px) {
    @content
  }

};

@mixin phone-450 {

  @media screen and (max-width: 450px) {
    @content
  }

};

