$bg_color: #371D1A;
$text_color: #fff;
$accent_color: #D60032;

$font_title_size: 48px;
$font_sub-title_size: 32px;

// adaptive variables

$font_title_size-1500: 30px;
$font_sub-title_size-1500: 28px;