@use 'mixins' as mix;
@use 'variables' as var;
@use 'adaptive';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: var.$bg_color;
  color: var.$text_color;
  @include mix.d-flex(flex, center, center, column);

  // border: 3px solid red;
}

.section {
  width: 100%;

  // border: 3px solid red;
  padding: 15px;

  @include mix.d-flex(flex, space-between, center, row);

  &__left {
    width: 50%;
    @include mix.d-flex(flex, space-between, start, column);
    margin: 15px;

    @include mix.tablet-600{
      width: 100%;
      @include mix.d-flex(flex, center, center, column);
    }
  }

  &__title {
    font-size: var.$font_title_size;
    text-align: left;
    margin: 10px 0px;

    @include mix.laptop-1500 {
      font-size: var.$font_title_size / 1.4;
    }

    @include mix.tablet-800 {
      font-size: var.$font_title_size / 2;
    }

    @include mix.tablet-600 {
      text-align: center;
    }

  }

  &__sub-title {
    font-size: var.$font_sub-title_size;
    margin: 35px 0px;

    @include mix.tablet-800 {
      font-size: var.$font_sub-title_size / 1.5;
    }

    @include mix.tablet-600 {
      text-align: center;
    }
  }

  &__btn {
    width: 100%;
    font-size: var.$font_sub-title_size;
    margin: 50px 0 0 0px;
    padding: 25px;
    border-radius: 15px;
    background-color: transparent;
    border: 3px solid var.$accent-color;
    color: var.$text-color;
    transition: all .3s;

    &:hover {
      background-color: var.$accent-color;
      cursor: pointer;
    }

    @include mix.laptop-1500 {
      font-size: var.$font_sub-title_size / 1.4;
    }

    @include mix.tablet-800 {
      font-size: var.$font_sub-title_size / 2;
      padding: 15px;
      border-radius: 5px;
    }
  }

  &__right {
    @include mix.d-flex(flex, space-between, start, column);
    margin: 15px;

    @include mix.tablet-600{
      display: none;
    }
  }

  &__img {
    border-radius: 15px;
    max-width: 100%;
    object-fit: cover;

    @include mix.laptop-1200{
      width: 450px;
    }

    @include mix.tablet-800{
      width: 450px;
    }

    @include mix.tablet-600{
      display: none;
    }
  }

}

.title-accent {
  color: var.$accent-color;
}

.about-section {
  @include mix.d-flex(flex, center, start, column);

  @include mix.phone-450 {
    @include mix.d-flex(flex, center, center, column);
  }
}

.card-container {
  @include mix.d-flex(flex, center, start, row);
  flex-wrap: wrap;

  &__card {
    width: 800px;
    height: 250px;
    border: 3px solid var.$accent-color;
    border-radius: 15px;
    margin: 25px;
    padding: 20px;

    @include mix.tablet-900 {
      width: 500px;
      height: 250px;
      border-radius: 10px;
    }

    @include mix.tablet-600 {
      width: 350px;
      height: 150px;
    }

    @include mix.phone-450 {
      width: 225px;
      margin: 15px;
      padding: 15px;
    }
  }
}

.card__title {
  font-size: var.$font_title_size / 1.4;

  @include mix.tablet-800 {
    font-size: var.$font_title_size / 2;
  }

  @include mix.tablet-600 {
    font-size: var.$font_title_size / 2.5;
  }

  @include mix.phone-450{
    font-size: var.$font_title_size / 3;
  }
}

.card-1 {
  background-image: url(../img/Rectangle\ 2.jpg);
  @include mix.bg-img(cover, center, no-repeat);
  filter:brightness(75%);
}

.card-2 {
  background-image: url(../img/Rectangle\ 6.jpg);
  @include mix.bg-img(cover, center, no-repeat);
  filter:brightness(75%);
}

.card-3 {
  background-image: url(../img/Rectangle\ 7.jpg);
  @include mix.bg-img(cover, center, no-repeat);
  filter:brightness(75%);
}

.card-4 {
  background-image: url(../img/Rectangle\ 8.jpg);
  @include mix.bg-img(cover, center, no-repeat);
  filter:brightness(75%);
}